body{
    background-image: url("https://bit.ly/2ZjqK3o");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main{
    position: relative;
    
    top:4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgba(0,0,0,0.05);

    .board{
    
        .square{
            width: 15rem;
            height: 15rem;
            border: 3px solid black;
            background-color: rgb(159, 147, 199);
            border-radius: 25px;
            -webkit-box-shadow: inset 0px 0px 56px 14px rgba(0,0,0,1);
            -moz-box-shadow: inset 0px 0px 56px 14px rgba(0,0,0,1);
            box-shadow: inset 0px 0px 56px 14px rgba(0,0,0,1);
            span{
                font-size: 8rem;
                font-family: 'Notable', sans-serif;
                color:rgba(212, 211, 211,0.2);
                text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px;
            }
        }
        .square:hover{
            width: 15rem;
            height: 15rem;
            border: 3px solid black;
            background-color: rgb(94, 119, 172);
            border-radius: 25px;
            -webkit-box-shadow: inset 0px -1px 31px 2px rgba(0,0,0,1);
            -moz-box-shadow: inset 0px -1px 31px 2px rgba(0,0,0,1);
            box-shadow: inset 0px -1px 31px 2px rgba(0,0,0,1);
        }
    }
}

